# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
target/
*.jar
*.war

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Environment & Logs
.env
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

#agents
.agents

#codegraph
.codegraph