# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
target/
*.jar
*.war
*.apk
*.aab
*.exe
vs_BuildTools.exe
install-cpp-tools.bat

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Environment & Logs
.env
.env.example
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.jks
*.keystore
keystore.properties

# System Files
.DS_Store
Thumbs.db

#agents
.agents

#codegraph
.codegraph

#images
images

LifeSync_AI_De_xuat_cai_tien_UIUX.md